* {
    margin: 0;
    padding: 0;
    color: white;
}

html,
body {
    width: 100%;
    height: 122%;
    overflow-x: hidden;
    background-color: black;

    scroll-behavior: smooth;


}

body::-webkit-scrollbar {
    display: none;
}

nav {
    width: 100vw;
    padding: 2vw 0;
    background-color: #262626;
    font-size: 2vw;
    font-weight: bold;

}


nav ul {
    display: flex;
    column-gap: 10rem;
    margin-left: 1vw;
}

nav ul i {
    font-size: 3vw;
    color: red;
    animation: xrotate 5s linear 0s infinite;

}

@keyframes xrotate {

    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(270deg);

    }

    100% {
        transform: rotateY(360deg);


    }


}

li a {
    text-decoration: none;
    transition: all ease-in 0.5s;
}

li a:hover {
    /* text-decoration: underline; */
    text-decoration-color: grey;
    color: green;
}

nav ul li {
    list-style: none;
    cursor: pointer;

}

.pass {
    width: 54vw;
    overflow-x: hidden;
    margin-left: 20vw;
    margin-top: 5vh;
}

.pass h1 {

    font-size: 4vw;

    animation: hde 10s linear 0s infinite;

}

@keyframes hde {
    0% {
        transform: translateX(-55vw)
    }

    100% {
        transform: translateX(56vw);
    }

}

.content {
    display: flex;
    column-gap: 32vw;
    margin-left: 2vw;
    margin-top: 10vh;
    background: url("password1.png"); 
    background-size: contain;
   background-position: center center; 
   background-repeat: no-repeat;

}

table {

    width: 34vw;
    animation: rotate 0.6s linear 0s 1;

}

table caption {
    font-size: 2vw;
    font-weight: bold;
    padding: 0 0 2vh 0;
}

td {
    text-align: center;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid transparent;
    padding: 2vw 2vh;
    text-align: center;
    background: linear-gradient(black, black)padding-box, linear-gradient(45deg, blue, red, orange)border-box;
}

.frm {
    margin-top: 2vh;


}



.frm h1 {
    text-align: center;
    padding-bottom: 2vh;
}

.frm input {
    all: unset;
    width: 20vw;
    height: 3.2vh;
    /* outline: none; */
    border: 2px solid transparent;
    background: white;
    color: black;
}

.frm input:is(:focus) {
    background: linear-gradient(black, black)padding-box, linear-gradient(45deg, blue, red, orange) border-box;
    color: white;

}

.frm label {
    font-size: 1.4vw;
}

.frm div {
    padding: 2vh 0;
    margin-right: 4vw;
}



@keyframes rotate {

    0% {
        transform: rotateY(90deg);

    }

    50% {
        transform: translateY(180deg);
    }

    100% {
        transform: translateY(360deg);
    }


}

button {
    padding: 2vh 2vw;
    color: white;
    background-color: red;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}

#btn {
    margin-top: 3vh;
    transition: all ease-in 0.5s;

    background-color: white;
    color: black;
}

#btn:hover {
    background-color: red;
    color: white;
}

.im {

    position: relative;
    bottom: 4vh;
    left: 1vw;
    cursor: pointer;

}

figure {
    margin: 12vh 0 0 0;
}

#About,
#service {

    margin: 2vh 2vw;
    background-color: #262626;
    border: 2px solid white;
    padding: 4vh 3vw;


    font-size: 1.8vw;

}

#service:hover {
    background-color: #414141;
}

#About:hover {
    background-color: #414141;
}

#About h1,
#service h1 {
    font-size: 3vw;
}


@media (max-width:800px) {
    nav {
        padding: 4vw 0;
        font-size: 3vw;
    }

    nav ul {
        column-gap: 4rem;
        margin-left: 3vw;
    }

    nav ul i {

        font-size: 4.4vw;
    }

    .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        row-gap: 20vw;
        margin-left: 0;
        margin-top: 10vh;
    }

    frm h1 {
        text-align: center;
        padding-bottom: 4vh;
        font-size: 2.4vw;
    }

    .frm label {
        font-size: 3.6vw;
    }

    .frm input {

        width: 47vw;
        height: 4.2vh;

    }

    #btn {
        margin-top: 4vh;

        padding: 1.8vh 3vw;
    }

    table,
    th,
    td {
        padding: 3vh 3vw;
        font-size: 3.2vw;
    }

    table caption {
        font-size: 5.5vw;
        padding: 0 0 3vh 0;
    }

    .im1 {
        position: relative;

        bottom: -36%;
    }

    .im {
        left: 1vw;
        top: 2vw;
    }


    button {
        padding: 1vh 1vw;

        border-radius: 5px;
        font-size: 3.2vw;




    }


    figure {
        margin: 12vh 5vw 0 7vw;
    }

    #service p,
    #About p {
        letter-spacing: 2px;
        font-size: 2vw;
    }

    #About h1,
    #service h1 {
        font-size: 3vw;
        padding: 1vh 0;
    }

}